name: Reusable
on:
  push:
  workflow_call: 
    inputs:
      name:
        required: true
        type: string
jobs:
  print_name:
    runs-on: ubuntu-latest
    steps:
      - name: Printing name
        run: echo "Hello ${{ inputs.name }}" 
    
